.header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.58);
    backdrop-filter: blur(18px);
    padding: 18px 125px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;

    &__right {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__titles {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__logo {
        width: 185px;
        height: 48px;
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    span {
        width: 15px;
        height: 2px;
        background: #ffffff;
    }
}